<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>FiringTheDB.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF4C31991E69EAA400C5954A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF4C31AD1E69EAA400C5954A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF4C31B81E69EAA400C5954A</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
